<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WebAuthouring_MacTayLASG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Dreamweaver, Web Authouring, HTML, CSS, JS">
<link rel="icon" href="../static/images/logo.png">
  <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <form id="assessment" action="/start" method="POST">
    <img src="../static/images/mactay2.jpg" alt="logo" width="800">
    <h2>WebAuthouring_Assessment</h2>
    <label for="domain">Choose a Domain:</label>
    <select name="domain" id="domain" required>
      <option value="domain2">Domain 2</option>
      <option value="domain3">Domain 3</option>
      <option value="domain4and5">Domain 4 & 5</option>
    </select>

    <label for="time">Set Time (minutes):</label>
    <select name="time" id="time" required>
      <option value="60">60 Minutes</option>        
      <option value="40">40 Minutes</option>
      <option value="30">30 Minutes</option>
      <option value="20">20 Minutes</option>
    </select>

    <button type="submit">Start Assessment</button>
      
      <h3 style="font-style: italic; font-weight: bold">Instructions:</h3>
      <ul>
          <li>Get the ASSESSMENT FILE.zip ready for the assessment.</li>
          <li>Click  <a href="https://wa.me/message/BUPMLODTS3ZXM1" target="_blank">here</a> or <a href="mailto:dtemilade@gmail.com">email</a> to request for the ASSESSMENT FILE.zip. Alternatively, request from your Instructor.</li>
          <li>Ensure you entered correctly your name and email as registered with <a href="https://mactay.com" target="_blank">MacTay</a>.</li>
          <li>Screenshot all task done and save in Exam Folder inside pexels folder.</li>
          <li>Your Instructor will guide on submitting the solutions.</li>
          <li>Keep checking for more update on the site.</li>
      </ul>
      <hr>
      <h2>Who We Are</h2>
        <p>
            The Lagos State Specialized ICT Training Programme is a forward-thinking initiative by the Lagos State Ministry of Wealth Creation and Employment in collaboration with MacTay. This program is designed to empower individuals with modern tech skills that prepare them for the dynamic digital economy. With two key learning tracks—Full Stack Web Development and Data Science—it caters to those eager to build a future in technology, regardless of their background or experience level.
        </p>
          <img src="../static/images/Class2.jpg" alt="logo" width="800">
        <p>
            Training sessions are led by competent facilitators who are passionate about breaking down complex tech concepts into simple, easy-to-understand lessons. Using relatable examples and a hands-on approach, they ensure that even the most technical topics are delivered in a way that resonates with everyone. This dedication to clear and practical learning helps every participant feel confident and engaged, no matter where they’re starting from.
        </p>
        <p>
            One of the program’s unique strengths is its diversity. Participants from various fields and walks of life come together in this vibrant community of learners. Engineers, teachers, entrepreneurs, and fresh graduates—all united by a shared goal of gaining cutting-edge skills for success in today’s fast-paced digital world. This diverse mix of minds fosters rich interactions, creative ideas, and opportunities to network with like-minded individuals.
        </p>
      <a style="text-align: center" href="#assessment"><p>✅ Ready! Let's go take the assessment</p></a>
  </form>
</body>
</html>
